<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estate-detail.css">
    <script src="../utils/zepto.js"></script>
    <script src="../js/estate-detail-more.js"></script>
</head>
<body>
    <nav class="nav text-center">
		<div class="back-btn"><i class="icon iconfont">&#xe600;</i></div>
		<span>楼盘详情</span>
	</nav>
    <div class="gray-space"></div>
    <div class="detail" style="padding-bottom:0;">
        <div class="dynamic font-14">
            <div class="title border-bottom padding-double">
                <div class="font-16">
                    最新动态
                </div>
            </div>
            <div class="content padding-double">
                <!--数组1-->
                <div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            物价类型
                        </div>
                        <div class="col-80 padding-left">
                            普通住宅
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            楼盘别名
                        </div>
                        <div class="col-80 padding-left">
                            佳兆业公馆
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            楼盘均价
                        </div>
                        <div class="col-80 padding-left">
                            8000元／平米
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            首付说明
                        </div>
                        <div class="col-80 padding-left">
                            一套首付30%，2套首付60% 
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            最新开盘
                        </div>
                        <div class="col-80 padding-left">
                            2015-09－09
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            交房时间
                        </div>
                        <div class="col-80 padding-left">
                            2015-09－09
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            楼盘特色
                        </div>
                        <div class="col-80 padding-left">
                            学区房、景区房、普通住宅
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            咨询电话
                        </div>
                        <div class="col-80 padding-left">
                            028-6518787
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            区域位置
                        </div>
                        <div class="col-80 padding-left">
                            锦江区-东湖
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            项目地址
                        </div>
                        <div class="col-80 padding-left">
                            高新二环琉璃路口（东湖公园旁）
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            售楼处
                        </div>
                        <div class="col-80 padding-left">
                            双流县人民南路南延线芦山大道
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            开发商
                        </div>
                        <div class="col-80 padding-left">
                            四川三里房产有限责任公司
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            贷款类型
                        </div>
                        <div class="col-80 padding-left">
                            商业贷款
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            项目说明
                        </div>
                        <div class="col-80 padding-left">
                            在售均主推，型区间为项目在售均，二环与琉璃二、环与琉璃环二环与琉璃二环路二环环路。
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            物业配套
                        </div>
                        <div id="description" class="col-80 padding-left">
                            中港 CC PARK主推4、6、7号楼，项目2批已经于1月9日盛大开盘。主推户型区间为项目在售均主推，型区间为项目在售均，二环与琉璃二、环与璃倍....1231231sdasdas中港 CC PARK主推4、6、7号楼，项目2批已经于1月9日盛大开盘。主推户型区间为项目在售均主推，型区间为项目在售均，二环与琉璃二、环与璃倍....1231231sdasdas 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-space"></div>
        <div class="plan">
            <div class="title border-bottom padding-double">
                <div class="font-16">
                    楼盘规划
                </div>
            </div>
            <div class="content padding-double font-14">
                <div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            建筑类型
                        </div>
                        <div class="col-80 padding-left">
                            小高层、独栋别墅
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            产权年限
                        </div>
                        <div class="col-80 padding-left">
                            70年
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            装修状况
                        </div>
                        <div class="col-80 padding-left">
                            清水房
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            占地面积
                        </div>
                        <div class="col-80 padding-left">
                            800000平米
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            建筑面积
                        </div>
                        <div class="col-80 padding-left">
                            186666平米
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            容积率
                        </div>
                        <div class="col-80 padding-left">
                            3%
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            绿化率
                        </div>
                        <div class="col-80 padding-left">
                            35%
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            规划户数
                        </div>
                        <div class="col-80 padding-left">
                            1000户
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            车位规划
                        </div>
                        <div class="col-80 padding-left">
                            889个
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            梯户描述
                        </div>
                        <div class="col-80 padding-left">
                            2梯6户
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            物业费
                        </div>
                        <div class="col-80 padding-left">
                            2.1元／平米／月
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        <div class="col-20 label">
                            物业公司
                        </div>
                        <div class="col-80 padding-left">
                            成都平安物业有限责任公司
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-space"></div>
        <div class="permission">
            <div class="title border-bottom padding-double">
                <div class="font-16">
                    预售许可证
                </div>
            </div>
            <div class="content padding-double font-14">
                <div>
                    <div class="box">
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                许可证号
                            </div>
                            <div class="col-80 padding-left">
                                成都预售中心城区子弟11300号
                            </div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                发证时间
                            </div>
                            <div class="col-80 padding-left">
                                2017-09-18
                            </div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                许可范围
                            </div>
                            <div class="col-80 padding-left">
                                11号楼、6号楼
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                许可证号
                            </div>
                            <div class="col-80 padding-left">
                                成都预售中心城区子弟11300号
                            </div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                发证时间
                            </div>
                            <div class="col-80 padding-left">
                                2017-09-18
                            </div>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-20 label">
                                许可范围
                            </div>
                            <div class="col-80 padding-left">
                                11号楼、6号楼
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>