<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../utils/zepto.js"></script>
    <!--swiper start-->
	<link rel="stylesheet" href="../utils/swiper/swiper-3.4.2.min.css">
	<script src="../utils/swiper/swiper-3.4.2.min.js"></script>
	<!--swiper end-->
    <link rel="stylesheet" href="../css/estate-album.css">
    <script src="../js/estate-album.js"></script>
</head>
<body>
    <nav class="nav text-center">
		<div class="back-btn"><i class="icon iconfont">&#xe600;</i></div>
		<span>1期A1户型</span>
	</nav>
    <div class="detail-album">
        <div class="content">
            <div id="detail_album_swiper" class="swiper-container">
				<div class="swiper-wrapper">
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png" alt="">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png" alt="">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png" alt="">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				    <div class="swiper-slide">
                        <img src="../img/pic_house.png">
                    </div>
				</div>
                <!-- 分页器 -->
                <div class="swiper-pagination color-white"></div>
            </div>
        </div>
    </div>
</body>
</html>