<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/new-dynamic-detail.css">
</head>
<body>
    <nav class="nav text-center">
		<div class="back-btn"><i class="icon iconfont">&#xe600;</i></div>
		<span class="title text-ellipsis">中港CCPAR在售均价1100元/平米左右主推户型</span>
        <div class="share-btn"><i class="icon iconfont">&#xe684;</i></div>
    </nav>
    <div class="new-dynamic-detail padding-double">
        <h3 class="margin-bottom">中港CCPAR在售均价1100元/平米左右主推户型</h3>
        <div class="color-light-font font-12 margin-bottom-double">我爱我家&nbsp;&nbsp;<span>2017-01-21  12:21</span></div>
        <div class="line margin-bottom-double"></div>
        <div class="summary padding margin-bottom">
            <div class="text font-16">
              【摘要】当我们聊设计的时候，可读性是我们最常提及的话题。良好的设计应该都是可读的设计，如果信息都无
            </div>
        </div>
        <div class="content">
            <img width="100%" src="../img/pic_house.png" alt="">
            这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容
        </div>
    </div>
</body>
</html>