/* common.css
 * description: 公共CSS;
 * author: liujians<870891018@qq.com>;
 * inDate: 2017/04/24;
*/
@font-face {
  font-family: 'iconfont';  /* project id 285608 */
  src: url('http://at.alicdn.com/t/font_jpsdq2w1avewxw29.eot');
  src: url('http://at.alicdn.com/t/font_jpsdq2w1avewxw29.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_jpsdq2w1avewxw29.woff') format('woff'),
  url('http://at.alicdn.com/t/font_jpsdq2w1avewxw29.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_jpsdq2w1avewxw29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑"
}
html,body{
  height: 100%;
  box-sizing: border-box;
}
:root {
  --heavy-font: #1c2627;
  --normal-font: #757980;
  --light-font: #A1A2A4;
  --main:#0aa319;
  --line:#e5e7ec;
  --background:#eeeff4;
  --font-background:#f7f7f7;
  --number: #ff4444;
  --info:#0aa3e9;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: none;
}
a,button,input{
  -webkit-tap-highlight-color:transparent;
}
/*color*/
.color-heavy-font{
  color: #1c2627;
}
.color-normal-font{
  color: #757980;
}
.color-light-font{
  color: #A1A2A4;
}
.color-main{
  color: #0aa319;
}
.color-line{
  color: #e5e7ec;
}
.color-background{
  color: #eeeff4;
}
.color-font-background{
  color: #f7f7f7;
}
.color-number{
  color: #ff4444;
}
.color-info{
  color: #0aa3e9;
}
.color-gray{
  color: #C7C7CC;
}
.color-white{
  color: white;
}
/*common*/
.padding{
	padding: 10px;
}
.padding-double{
	padding: 20px;
}
.padding-left{
	padding-left: 10px;
}
.padding-right{
	padding-right: 10px;
}
.padding-left-double{
	padding-left: 20px;
}
.padding-right-double{
	padding-right: 20px;
}
.padding-top{
	padding-top: 10px;
}
.padding-top-double{
	padding-top: 20px;
}
.padding-bottom{
	padding-bottom: 10px;
}
.padding-bottom-double{
  padding-bottom: 20px;
}
.margin{
	margin: 10px;
}
.margin-left{
	margin-left: 10px;
}
.margin-right{
	margin-right: 10px;
}
.margin-top{
	margin-top: 10px;
}
.margin-bottom{
	margin-bottom: 10px;
}
.margin-bottom-double{
	margin-bottom: 20px;
}
.text-ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	/*white-space:nowrap;*/
}
.inline-block{
	display: inline-block;
}
.border-box{
	box-sizing: border-box;
}
.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
/*font*/
.font-bold{
	font-weight: bold;
}
.font-thin{
  font-weight: 100;
}
.font-12{
	font-size: 12px;
}
.font-13{
	font-size: 13px;
}
.font-14{
	font-size: 14px;
}
.font-15{
	font-size: 15px;
}
.font-16{
	font-size: 16px;
}
.font-17{
	font-size: 17px;
}
.font-21{
	font-size: 21px;
}
.font-24{
	font-size: 25px;
}
.font-25{
	font-size: 25px;
}
.font-26{
	font-size: 26px;
}
.font-30{
  font-size: 30px;
}
.line-14{
  line-height: 14px;
}
.line-20{
  line-height: 20px;
}
.line-21{
  line-height: 21px;
}
.line-28{
  line-height: 28px;
}
.line-36{
  line-height: 36px;
}
.vertical-bottom{
  vertical-align: bottom;
}
.gray-space{
	height: 10px;
	background: #eee;
}
.border-bottom{
  border-bottom:1px solid #E5E7EC
}
.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*grid*/
.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  box-sizing: border-box
}
.col{
  flex:1;
  display: block;
  width:100%;
  box-sizing: border-box;
}
.col-10{
  flex: 0 0 10%;
  max-width: 10%;
  box-sizing: border-box;
}
.col-20{
  flex: 0 0 20%;
  max-width: 20%;
  box-sizing: border-box;
}
.col-25{
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
}
.col-33{
  flex: 0 0 33%;
  max-width: 33%;
  box-sizing: border-box;
}
.col-40{
  flex: 0 0 40%;
  max-width: 40%;
  box-sizing: border-box;
}
.col-50{
  flex: 0 0 50%;
  max-width: 50%;
  box-sizing: border-box;
}
.col-60{
  flex: 0 0 60%;
  max-width: 60%;
  box-sizing: border-box;
}
.col-66{
  flex: 0 0 66%;
  max-width: 66%;
  box-sizing: border-box;
}
.col-75{
  flex: 0 0 75%;
  max-width: 75%;
  box-sizing: border-box;
}
.col-80{
  flex: 0 0 80%;
  max-width: 80%;
  box-sizing: border-box;
}
.col-90{
  flex: 0 0 90%;
  max-width: 90%;
  box-sizing: border-box;
}
/*grid-view*/
.grid{
  width:100%;
  overflow: hidden;
}
.grid-33{
  float: left;
  width: 33.3%;
  box-sizing: border-box;
}
.grid-50{
  float: left;
  width: 50%;
  box-sizing: border-box;
}
/*list*/
.list{
  width:100%;
  position:relative;
  box-sizing: border-box;
}
.item{
  width: 100%;
  margin: -1px 0;  
  display: block;
  box-sizing: border-box;
  position:relative;
  border-bottom: 1px solid rgb(229,231,236)
}
.item-thumbnail-right{
  padding-right:0px;
  min-height: 90px;
}
.item-thumbnail-right img{
    width: 120px;height: 70px;padding-right:10px;
    float: right
}
.item-thumbnail-left{
  border: none;
  padding-right: 0;
  overflow: hidden;
}
.item-thumbnail-left .imgbox{
    width: 33.3%;max-height: 120px;padding: 1%;float: left;overflow: hidden;
}
.item-thumbnail-left .imgbox img{
    width: 100%;
}
.item-ava{
  padding-left: 40px;
}
.item-ava>img{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
/*nav*/
.nav{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: white;
	font-size: 17px;
	color: rgb(28,38,39);
	position:relative;
  box-shadow: inset 0 -1px 0 0 #e5e7ec;
}
.nav .title{
  display: inline-block;
  width: 153px;
}
.nav .back-btn{
	position: absolute;
  top: 0;
	left: 19px;
}
.nav .share-btn{
  position: absolute;
  top: 0;
	right: 19px;
}
.tag{
  display:inline-block;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 1px;
}
.tag-danger{
  background: var(--number);
  color: white;
}
.tag-info{
  background: var(--info);
  color: white;
}
.tag-disable{
  background: var(--font-background);
  color: var(--light-font);
}
.line{
  widows: 100%;
  height: 1px;
  background: #e6e6e6;
}
.round-s{
  width: 9px;
	height: 9px;
  display:inline-block;
  border-radius: 50%;
  background: #fdc915;
}
.fix{*zoom:1;}
.fix:after{display:table; content:''; clear:both;}
/*IM-btn*/
.IM-btn{
	width: 60px;
	height: 60px;
	position: fixed;
	right: 14px;
	bottom: 60px;
	z-index: 9998;
    border-radius: 30px;
    background: url('../images/hoverButtonIM@2x.jpg') no-repeat center;
    background-size: 110%;
}
.IM-btn a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.IM-btn .mark{
	position: absolute;
	left: 14px;
	right: 0;
	bottom: 14px;
	top: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(255,68,68);
}
.keywords-tag{
	margin-right: 5px;
	padding-left: 3px;
	display: inline-block;
	background: rgb(246,246,246);
	color: #1c2627;
	border-left: 2px solid #66cbd1;
}
.keywords-tag:nth-child(1){
  border-color:#718fda;
}
.keywords-tag:nth-child(2){
  border-color:#679edc;
}
.keywords-tag:nth-child(3){
  border-color:#59b3d9;
}
.keywords-tag:nth-child(4){
  border-color:#66cbd1;
}
.score-main>img{
    width: 10px;
}
.score>img{
    width: 8px;
}
/*slide-bar*/
.slide-bar{
    width: 151px;
    height: 17px;
    display: inline-block;
}
.slide-bar>span{
    display: inline-block;
    padding-bottom:17px;
    width: 100%;
    position: relative;
    background: url('../img/longlongheart.png') no-repeat;
    background-size: 151px;
}
.slide-bar label{
    position: absolute;
    left: 0;
    top: 0;
}
.slide-bar .heart-05{
    width: 9px;
    padding-bottom: 17px;
    z-index: 30;
}
.slide-bar .heart-10{
    width: 25px;
    padding-bottom: 17px;
    z-index: 29;
}
.slide-bar .heart-15{
    width: 42px;
    padding-bottom: 17px;
    z-index: 28;
}
.slide-bar .heart-20{
    width: 59px;
    padding-bottom: 17px;
    z-index: 27;
}
.slide-bar .heart-25{
    width: 75px;
    padding-bottom: 17px;
    z-index: 26;
}
.slide-bar .heart-30{
    width: 94px;
    padding-bottom: 17px;
    z-index: 25;
}
.slide-bar .heart-35{
    width: 108px;
    padding-bottom: 17px;
    z-index: 24;
}
.slide-bar .heart-40{
    width: 126px;
    padding-bottom: 17px;
    z-index: 23;
}
.slide-bar .heart-45{
    width: 141px;
    padding-bottom: 17px;
    z-index: 22;
}
.slide-bar .heart-50{
    width: 151px;
    padding-bottom: 17px;
    z-index: 21;
}
.slide-bar label.active{
    background: url('../img/longheart.png') no-repeat;
    background-size: 151px;
}
.console{
    padding:18px 20px;
    position: fixed;
    bottom: 380px;
    min-width: 180px;
    max-width: 80%;
    height: 14px;
    line-height: 14px;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    text-align: center;
    color: white;
    font-size: 14px;
    box-sizing: content-box;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}


.item-box .info-block img{
    margin-right: 3px;
}
.item-box .info-block span{
    margin: 0 5px;line-height: 28px;
}
